{% include 'top.html' %}
{% if request.path == '/' %}
<style>
  body {
      background: linear-gradient(270deg, rgba(86, 11, 36, 0.95), 30%, rgba(41, 14, 78, 0.95)), 
                  url("{{ url_for('static', filename='images/thanos-bg.png') }}");
      background-size: cover;
      background-position: center;
      background-attachment: fixed;
  }
</style>
{% endif %}
<div class="container" >
<p>  
    The universe quivers as you, <b>Thanos</b>, stand on the precipice of ultimate power. The <b>Infinity Stones—keys</b> to unimaginable control over existence—lie scattered across the cosmos. Yet, they are not so easily claimed.

    Ancient civilizations, fearing your might, have shrouded the stones behind layers of intricate puzzles, encoded languages, and tests of supreme intellect. Your brute strength alone will not suffice; this is a war of wits.
    
    You must rise above the challenge, decipher the hidden codes, and outsmart the guardians of knowledge. The very fabric of reality dares to defy </b>, your resolve knows no limits.
    
    The Infinity Code awaits. Will you claim the stones and rewrite the universe in your image? Or will even you falter before the brilliance of these trials?
</p> 
<p><b>Prepare yourself, Thanos. The universe bends to no one without a fight</b> </p>
</div>
<a href="/chapter/{{question}}" class="link_btn">Let the battle begin!</a>
<div class="flex flex-row justify-evenly items-center stones">
  <img src="/static/images/power-stone.png" alt="Stone 1" class="stone1">
  <img src="/static/images/space-stone.png" alt="Stone 2" class="stone2">
  <img src="/static/images/reality-stone.png" alt="Stone 3" class="stone3">
  <img src="/static/images/soul-stone.png" alt="Stone 4" class="stone4">
  <img src="/static/images/time-stone.png" alt="Stone 5" class="stone5">
  <img src="/static/images/mind-stone.png" alt="Stone 6" class="stone6">
</div>
</body>
</html>
